*~
*.o
.deps
autom4te.cache
Makefile
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
mg
GPATH
GRTAGS
GSYMS
GTAGS
