mg/
mg2a/
.debhelper/
autoreconf.after
autoreconf.before
debhelper-build-stamp
files
mg.debhelper.log
mg.postinst.debhelper
mg.postrm.debhelper
mg.substvars
mg2a.debhelper.log
mg2a.postinst.debhelper
mg2a.postrm.debhelper
mg2a.substvars
