Source: mg2a
Section: editors
Priority: optional
Maintainer: Joachim Wiberg <troglobit@gmail.com>
Build-Depends: debhelper (>= 10), libncurses-dev
Standards-Version: 4.1.0
Homepage: https://github.com/troglobit/mg/
Vcs-Git: https://github.com/troglobit/mg.git
Vcs-Browser: https://github.com/troglobit/mg.git

Package: mg2a
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: mg
Replaces: mg
Provides: editor
Description: public domain Micro Emacs derivative
 This program is intended to be a small, fast, and portable
 editor for people who can't (or don't want to) run real
 Emacs for one reason or another.  It is compatible with GNU
 because there shouldn't be any reason to learn more than
 one Emacs flavor.
 .
 Packages which provide editors with broadly similar goals include
 .
   * e3;
   * joe;
   * jove and xjove;
   * ng-cjk, ng-cjk-canna and ng-latin;
   * qemacs and qemacs-nox; and
   * zile
 .
 This version of mg is called mg2a to not conflict with the default
 Debian/Ubuntu version.  It comes with slightly more features and has
 fewer dependencies.
