Source: mg
Section: editors
Priority: optional
Maintainer: Harald Dunkel <harri@afaics.de>
Uploaders: Tomasz Buchert <tomasz@debian.org>
Build-Depends: debhelper (>= 10), libbsd-dev, libncurses-dev, pkg-config
Standards-Version: 4.1.0
Homepage: http://homepage.boetes.org/software/mg/
Vcs-Git: git://anonscm.debian.org/collab-maint/mg.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mg.git

Package: mg
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: editor
Description: microscopic GNU Emacs-style editor
 This program is intended to be a small, fast, and portable
 editor for people who can't (or don't want to) run real
 Emacs for one reason or another.  It is compatible with GNU
 because there shouldn't be any reason to learn more than
 one Emacs flavor.
 .
 Packages which provide editors with broadly similar goals include
 .
   * e3;
   * joe;
   * jove and xjove;
   * ng-cjk, ng-cjk-canna and ng-latin;
   * qemacs and qemacs-nox; and
   * zile
