#!/usr/bin/make -f
# export DH_OPTIONS=-v
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

# Prune OpenBSD README and UNLICESE file, copyright file is canon
# Install the ".mg" example config manually, as debhelper can't rename
override_dh_auto_install:
	dh_auto_install
	-rm -f debian/mg/usr/share/doc/mg/README
	-rm -f debian/mg/usr/share/doc/mg/UNLICENSE
	install -D -m444 .mg debian/mg/usr/share/doc/mg/examples/dot_mg

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.md
