#!/usr/bin/make -f
export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS  = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -W -Wall -Wextra -O3
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))

include /usr/share/dpkg/default.mk  # provides DEB_VERSION

%:
	dh $@

# Prune OpenBSD README and UNLICESE file, copyright file is canon
# Install the ".mg" example config manually, as debhelper can't rename
override_dh_auto_install:
	dh_auto_install
	-rm -f debian/mg/usr/share/doc/mg/.mg
	-rm -f debian/mg/usr/share/doc/mg/README
	-rm -f debian/mg/usr/share/doc/mg/UNLICENSE
	-rm -f debian/mg/usr/share/doc/mg/ChangeLog.md

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.md
